@import "tailwindcss";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: "Rethink Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@plugin "daisyui" {
    themes: lofi --default;
}

@utility no-interact {
    @apply pointer-events-none cursor-not-allowed select-none;
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@layer component {
    *:disabled {
        @apply no-interact opacity-90;
    }

    body {
        @apply font-sans bg-base-100 text-neutral antialiased min-h-screen min-w-screen max-w-screen overflow-x-hidden;
    }

    .required {
        @apply after:content-['*'] after:text-red-500;
    }

    iconify-icon {
        @apply scale-110 inline-block align-middle;
    }
}

@layer utilities {
    .wh-full {
        @apply w-full h-full;
    }

    .wh-screen {
        @apply w-screen h-screen;
    }

    .min-wh-full {
        @apply min-w-full min-h-full;
    }

    .min-wh-screen {
        @apply min-w-screen min-h-screen;
    }

    .max-wh-full {
        @apply max-w-full max-h-full;
    }

    .max-wh-screen {
        @apply max-w-screen max-h-screen;
    }
}
