@import "tailwindcss";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: "Rethink Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@plugin "daisyui" {
    themes: lofi --default;
}

@utility no-interact {
    @apply pointer-events-none cursor-not-allowed select-none;
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@utility wh-full {
    @apply w-full h-full;
}

@utility wh-screen {
    @apply w-screen h-screen;
}

@utility min-wh-full {
    @apply min-w-full min-h-full;
}

@utility min-wh-screen {
    @apply min-w-screen min-h-screen;
}

@utility max-wh-full {
    @apply max-w-full max-h-full;
}

@utility max-wh-screen {
    @apply max-w-screen max-h-screen;
}

@utility text-head {
    @apply text-neutral font-black text-xl md:text-2xl lg:text-4xl;
}

@utility text-subhead {
    @apply text-gray-500 md:text-lg lg:text-xl;
}

@utility text-link {
    @apply transition ease-in-out duration-150 hover:underline;
}

@utility scrollbar-hidden {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@utility icon-sm {
    @apply w-full h-auto max-w-3 aspect-square inline-block object-center object-fill;
}

@utility icon-md {
    @apply w-full h-auto max-w-5 aspect-square inline-block object-center object-fill;
}

@utility icon-lg {
    @apply w-full h-auto max-w-7 aspect-square inline-block object-center object-fill;
}

@utility icon-xl {
    @apply w-full h-auto max-w-9 aspect-square inline-block object-center object-fill;
}

@layer components {
    *:disabled {
        @apply no-interact opacity-90;
    }

    .disabled,
    .disabled:disabled {
        @apply opacity-60 no-interact;
    }

    .required {
        @apply after:content-['*'] after:text-red-500;
    }

    iconify-icon {
        @apply scale-110 inline-block align-middle aspect-square;
    }
}
